/* ---------------------------------------------------------------------
                               Global Styles
----------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* To ensure images, videos, objects not to overlap in the webpage: Default */

img,
embed,
object,
video {
    max-width: 100%;
}

body {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 7em;
    padding-right: 7em;
}


/* navbar */

.navbar {
    display: inline;
    font-family: Oswald;
    font-size: 1.2em;
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 100%;
        padding: 15px;
        width: initial;
    }


.mycont {
    display: block;
    margin: 0 auto;
    width: 87%;
}

.candidate {
    margin-top: 15px;
    text-align: center;
    font-family: Oswald;
    font-size: 3rem;
    font-weight: 900;
}

    .candidate:hover {
        color: #018744;
    }

.description {
    margin-top: 15px;
    padding-left: 4em;
    padding-right: 4em;
    font-family: Alegreya;
    text-align: left;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
}

.signIn {
    margin-top: 15px;
    text-align: center;
}

.lgn {
    margin-top: 40px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    margin-left: 500px;
}
